<a href="https://colab.research.google.com/github/kcv-if/LabBasedEducation_KCV2021/blob/main/modul_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mengapa menggunakan Python untuk Machine Learning?


*   Sederhana dan konsisten
*   Memiliki library dan framework yang luas
*   Platform independence
*   Popularitas yang tinggi dan komunitas yang luas

# Dasar-dasar Python
Dalam modul ini akan dibahas dasar-dasar Python yang akan digunakan untuk pembelajaran di LBE KCV 2021.

## Print
Untuk mencetak suatu nilai di Python, gunakan fungsi `print()`. String harus diselubungi dengan karakter petik (') atau petik dua (").

In [ ]:
print('Halo Dunia')

Halo Dunia

In [ ]:
print("Halo Python")

Halo Python

## Comment
Comment sangat berguna untuk memberikan penjelasan suatu blok kode. Untuk membuat comment, berikan karakter pagar (#) di depan comment.

In [ ]:
# ini adalah comment dan tidak akan dieksekusi saat program berjalan

## Integer
Python memiliki tipe data integer atau bilangan bulat yang dapat dilakukan operasi matematika, seperti penambahan dan pengurangan.

In [ ]:
# tidak perlu dibungkus dengan tanda petik
print(1)
# penambahan
print(1 + 2)
# pengurangan
print(3 - 2)
# perkalian
print(4 * 5)
# pembagian
print(6 / 2)
# modulo
print(1 % 2)

1
3
1
20
3.0
1

## Variabel
Variabel digunakan untuk menyimpan sebuah nilai. Untuk mendeklarasikan variabel, gunakan format `nama_variabel=nilai_variabel`. Penamaan variabel memiliki beberapa peraturan, di antaranya:
*   dimulai dengan huruf atau karakter garis bawah (_)
*   tidak dapat dimulai dengan angka
*   nama hanya dapat berisi karakter alfanumerik (A-z, 0-9, dan _)
*   bersifat case sensitive (`Aku` dan `aku` adalah 2 variabel yang berbeda)

In [ ]:
# deklarasi variabel
lab = 'KCV'
print(lab)

KCV

In [ ]:
# memperbarui nilai variabel
x = 1
print(x)
x = 2
print(x)

# melakukan operasi matematika
x = x + 1
print(x)
# melakukan operasi matematika (singkat)
x += 1
print(x)

1
2
3
4

## String Concatenation
Operator `+` digunakan untuk menggabungkan dua atau lebih string menjadi satu string.

In [ ]:
print('Halo'+' '+'Dunia')

Halo Dunia

In [ ]:
nama_depan = 'Budi'
nama_belakang = 'Idub'
nama_lengkap = nama_depan + ' ' + nama_belakang
print(nama_lengkap)

Budi Idub

In [ ]:
print('5' + '7')

57

## Konversi Tipe Data
Untuk menggabungkan nilai dengan tipe data yang berbeda (string dan integer) harus dilakukan konversi tipe data terlebih dahulu. Konversi dari integer ke string menggunakan fungsi `str()` dan konversi dari string ke integer menggunakan `int()`.

In [ ]:
# belum dikonversi
tahun = 2021
print('Tahun: ' + tahun)

TypeError: ignored

In [ ]:
# sudah dikonversi
tahun = 2021
print('Tahun: ' + str(tahun))

Tahun: 2021

In [ ]:
# belum dikonversi
umur = '21'
umur = umur + 1
print(umur)

TypeError: ignored

In [ ]:
# sudah dikonversi
umur = '21'
umur = int(umur) + 1
print(umur)

22

## Control Flow
Seringkali dalam pemrograman, alur program harus dikendalikan. Untuk mengendalikan alur tersebut digunakan `if`, `if-else`, `if-elif-else`. Pada blok `if` dan `elif` harus diberi ekspresi kondisional. Ekspresi kondisional tersebut hanya dapat bernilai `True` atau `False` (boolean). Pada contoh kode di bawah, ekspresi kondisionalnya adalah `angka == 1` untuk blok `if` dan `angka == 10` untuk blok `elif`. Ingat beri titik dua (:) setelah ekspresi kondisional.

In [ ]:
angka=11
if angka == 1:
  print('satu')
elif angka == 10:
  print('sepuluh')
else:
  print('bukan satu dan bukan sepuluh')

bukan satu dan bukan sepuluh

## Indentasi
Untuk menandakan bahwa suatu statement berada dalam suatu blok digunakan indentasi (1 tab atau 4 spasi)

In [ ]:
ipk = 3
if ipk > 2:
  print('Bagus!')
  print('Ayo ditingkatkan')

Bagus!
Ayo ditingkatkan

In [ ]:
ipk = 2
if ipk > 2:
  print('Bagus!')
# tidak diberikan indentasi
print('Ayo ditingkatkan')

Ayo ditingkatkan

## Boolean
Boolean adalah tipe data yang hanya memiliki 2 kemungkinan nilai, yaitu `True` atau `False` (huruf pertama harus kapital). Terdapat operasi yang dapat digunakan untuk data bertipe boolean, yaitu:
*   `and`
*   `or`
*   `not`

In [ ]:
print(True and False)

False

In [ ]:
print(True or False)

True

In [ ]:
print(not False)

True

## Input
Untuk mendapatkan input dari pengguna dan menyimpan input tersebut ke suatu variabel gunakan fungsi `input()`. Saat menerima input, dapat ditampilkan suatu string `str` dengan menambah `str` ke fungsi input menjadi `input(str)`. Fungsi `input()` hanya menerima nilai bertipe string. Maka dari itu, jika ingin menggunakan input untuk perhitungan, nilai input harus dikonversi ke integer terlebih dahulu.

In [ ]:
# input tanpa prompt
x = input()
print(x)

10
10

In [ ]:
# input dengan prompt
jumlah_mangga = input('Masukkan jumlah mangga yang ingin dibeli!')
print(str(jumlah_mangga) + ' ' + 'buah mangga ingin dibeli')

Masukkan jumlah mangga yang ingin dibeli!10
10 buah mangga ingin dibeli

In [ ]:
# menerima input string dan simpan ke a dan b
a = input()
b = input()

# konversi input a dan b ke integer
a = int(a)
b = int(b)

# lakukan operasi matematika pada a dan b
hasil = a + b

# cetak hasil
print(hasil)

1
2
3

In [ ]:
# Apakah keluaran dari program ini?

a = input()
b = input()

hasil = a + b

print(hasil)

## List
List adalah kumpulan elemen. Suatu list dapat memiliki elemen dengan tipe yang berbeda, seperti integer dan string dalam satu list. Setiap elemen dalam list memiliki nomor indeks yang dimulai dari 0. Untuk mendapatkan nilai elemen pada indeks ke `i` dalam list `list` gunakan `list[i]`.

In [ ]:
# assign list ke variabel friends
friends = ['Angel','Betty','Caroline',1010]

# cetak semua elemen dalam list
print(friends)

# cetak elemen pada indeks 2 di list
print(friends[2])

['Angel', 'Betty', 'Caroline', 1010]
Caroline

Untuk mengubah nilai elemen dalam list, gunakan operator `=`

In [ ]:
scores = [75,80,90]
# ubah elemen list pada indeks ke-0
scores[0] = 100
print(scores)

[100, 80, 90]

Untuk menambah elemen ke akhir list, gunakan fungsi list `append(nilai_elemen_baru)`

In [ ]:
numbers = [1,2]
# tambahkan elemen ke belakang list
numbers.append(3)

print(numbers)

[1, 2, 3]

## Perulangan For
Salah satu fungsi dari perulangan for adalah untuk menjelajahi setiap elemen dalam list. Penjelajahan tersebut akan dimulai dari indeks 0 sampai indeks akhir list. Pada contoh di bawah, untuk setiap elemen dalam list `names`, nilai elemen akan disimpan ke variabel sementara yaitu variabel `name` di setiap iterasi.

In [ ]:
names = ['Andy','Bob','Charlie']

# untuk setiap 'name' dalam list 'names', cetak 'This is [name]'
for name in names:
  print('This is ' + name)

This is Andy
This is Bob
This is Charlie

Perulangan for juga dapat dikombinasikan dengan fungsi `range()`. Fungsi range memiliki 3 parameter `range(start, stop, step) `. Parameter `start` adalah bilangan bulat yang menyatakan posisi mulai yang memiliki nilai default 0 dan bersifat opsional. Parameter `stop` adalah bilangan bulat yang menyatakan posisi berhenti. Parameter `step` adalah bilangan bulat yang menyatakan seberapa banyak yang ingin ditambahkan.

In [ ]:
# mencetak angka dalam range [0,10) (10 tidak dicetak)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# mencetak angka dalam range [1,6)
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# mencetak angka mulai 10 sampai 1 dengan penambahan sebesar -1
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

## Dictionary
Dictionary adalah list yang indeksnya berupa key. Key tersebut dapat bertipe string. Setiap elemen dalam dictionary memiliki satu key dan satu value. Dictionary dapat memiliki urutan elemen yang berbeda dari urutan awal saat deklarasi. Untuk membuat dictionary, bungkus himpunan pasangan key dan value menggunakan kurung kurawal ({...}). Key dan value dipisah dengan karakter titik dua (:) dan elemen dipisah dengan karakter koma (,).

In [ ]:
# dictionary yang memiliki nama buah sebagai key dan harga buah sebagai value
fruits = {'mango':10,'apple':15,'durian':20}

# dapatkan harga mangga
print(fruits['mango'])

10

Untuk mengubah nilai elemen dalam dictionary, gunakan operator `=`

In [ ]:
fruits = {'mango':10,'apple':15,'durian':20}

fruits['mango'] = 30

print(fruits['mango'])

30

Untuk menambah elemen ke dictionary sama dengan mengubah elemen dalam dictionary, tetapi gunakan key baru yang belum ada dalam dictionary.

In [ ]:
fruits = {'mango':10,'apple':15,'durian':20}

fruits['orange'] = 5

print(fruits)

{'mango': 10, 'apple': 15, 'durian': 20, 'orange': 5}

Perulangan for dapat digunakan untuk menjelajahi dictionary. Dalam setiap iterasi, `key` dari setiap elemen akan disimpan sementara dalam variabel.

In [ ]:
fruits = {'mango':10,'apple':15,'durian':20}

for fruit in fruits:
  print(fruit + ' ' + str(fruits[fruit]))

mango 10
apple 15
durian 20

## Perulangan While
Perulangan while berfungsi untuk mengulangi blok kode selama kondisi while terpenuhi.

In [ ]:
x = 0
while x <= 10:
  print(x)
  x += 1

0
1
2
3
4
5
6
7
8
9
10

Hati-hati dalam menentukan kondisi while dan statement dalam blok kode while. Pastikan kondisi while akan bernilai False dalam suatu waktu eksekusi program. Jika tidak, maka akan terjadi infinite loop.

In [ ]:
# kasus infinite loop karena tidak memperbarui variabel x
x = 0
while x <= 10:
  print(x)

In [ ]:
# kasus infinite loop karena statement memperbarui variabel x berada di luar blok while (indentasi salah)
x = 0
while x <= 10:
  print(x)
x += 1

## Break
Break dapat digunakan untuk keluar dari suatu perulangan.

In [ ]:
numbers = [1,2,3,4,5]
for number in numbers:
  print(number)
  if number == 2:
    break

1
2

## Continue
Continue digunakan untuk melewati suatu iterasi.

In [ ]:
numbers = [1,2,3,4,5]
for number in numbers:
  if number == 2:
    continue
  print(number)

1
3
4
5

## Fungsi
Fungsi adalah blok kode yang menjalankan suatu pekerjaan yang spesifik. Untuk mendefinisikan fungsi, gunakan format `def nama_fungsi()` dan beri indentasi bagi kode dalam fungsi.

In [ ]:
# definisikan fungsi salam()
def salam():
  print('Halo')

# panggil fungsi salam()
salam()

Halo

Fungsi dapat menerima satu atau lebih argumen. Argumen adalah nilai yang diberi ke fungsi untuk diproses. Agar fungsi dapat menerima argumen, tuliskan parameter fungsi dalam `()` setelah nama fungsi. Parameter adalah variabel yang menyimpan argumen yang diberi ke fungsi. Parameter hanya dapat digunakan dalam blok fungsi.

In [ ]:
# definisikan fungsi salam()
def salam(nama):
  print('Halo ' + nama)

# panggil fungsi salam()
salam('Budi')

Halo Budi

In [ ]:
# fungsi dengan parameter lebih dari satu
def menyapa(nama1, nama2):
  print(nama1 + ' menyapa ' + nama2)

menyapa('Ani','Bob')

Ani menyapa Bob

Parameter fungsi dapat memiliki nilai default. Nilai default akan digunakan jika tidak ada argumen yang diberi ke parameter.

In [ ]:
# fungsi dengan parameter lebih dari satu
def menyapa(nama1, nama2='Dyah'):
  print(nama1 + ' menyapa ' + nama2)

menyapa('Ani','Bob')
menyapa('Bob')

Ani menyapa Bob
Bob menyapa Dyah

Fungsi dapat memberikan nilai kembalian (return). Untuk mengembalikan suatu nilai dari fungsi, gunakan format `return nilai_return`.

In [ ]:
def mean(data):
  sum = 0
  for i in data:
    sum += i
  return sum / len(data)

data = [1,2,3]
print(mean(data))

2.0

In [ ]:
def bool(number):
  if number == 0:
    return False
  else:
    return True

print(bool(0))
print(bool(1))

False
True

In [ ]:
def login(name='Guest'):
  if name == 'Guest':
    return 'You are logged in as Guest'
  return 'You are logged in as ' + name

print(login())
print(login('Karin'))

You are logged in as Guest
You are logged in as Karin

## Import
Import digunakan untuk mengimpor suatu modul ke dalam kode. Gunakan format `import nama_modul` untuk mengimpor modul.

In [ ]:
import math
print(math.factorial(4))

24

## Fungsi Rekursif
Untuk membuat fungsi rekursif, lakukan pemanggilan kepada diri fungsi di dalam blok fungsi.

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  return n * factorial(n - 1)

print(factorial(4))

24

# Latihan
Latihan ini bersifat opsional. Jika dikerjakan dan hasilnya benar, maka akan mendapat nilai tambah.
https://www.hackerrank.com/lbekcv2021

# Referensi


1.   https://steelkiwi.com/blog/python-for-ai-and-machine-learning/
2.   https://progate.com/
3.   https://www.w3schools.com/python/gloss_python_variable_names.asp`
4.   https://www.programiz.com/python-programming/recursion
5.   https://www.w3schools.com/python/python_for_loops.asp
6.   https://www.w3schools.com/python/ref_func_range.asp